.image-container {
    position: relative;
}

.image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(237, 65, 85, 1);
    color: #fff;
    justify-content: center;
    align-content: center;
    display: block;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
    opacity: 1;
    background: rgba(237, 65, 85, 1);
}

.button-ovr {
    background-color: #F4F4F4;
    color: #EF7685;
    border-radius: 5px;
    margin-top: 15px;
    border: 1px solid #EF7685;
    padding: 15px;
}

.img-fluid {
    border-radius: 5px;
}

#footcon {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding-left: 200px;
}

#footicon {
    background-color: white;
    margin: 25px;
    border-radius: 5px;
}

#footicon:hover {
    transform: scale(1.1);
    z-index: 2;
}

#footh {
    margin-top: 5px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

footer {
    background-color: #f6f6f6;
}